*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.vagrant
examples/simple-solo/chef.log
gemfile_chef_10.lock
gemfile_chef_11.lock
examples/simple-solo/cache
